@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">О театре</h1>
    </section>

    <div class="row">
        <section class="col-md-7" aria-labelledby="gettingStartedTitle">
            <img src="~/Image/tt.jpg" alt="Sample Photo" width="750" height="450"/>
        </section>
        <section class="col-md-5" aria-labelledby="librariesTitle">
            <p style="font-size: 20px; text-align: justify">
                Основатель современного театра «Театр» – народный артист Российской Федерации, профессор Санкт-Петербургской государственной академии театрального искусства, лауреат премии Правительства Санкт-Петербурга за выдающийся вклад в развитие петербургской культуры Исаак Романович Штокбант.
            </p>
            <p style="font-size: 20px; text-align: justify">
                «В 1983 году я выпустил в Ленинградском государственном институте театра, музыки и кинематографии курс артистов эстрады, – рассказывал Исаак Штокбант. – Это были талантливые ребята. Получив «корочки», они не разбежались, а организовали свой театр. В соответствии с жанром, мы хотели назвать его просто театр-кабаре. Начальство посмотрело на меня, как на ненормального: какое еще
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
        </section>
    </div>
    <section class="row" aria-labelledby="aspnetTitle">
        <p style="font-size: 20px; text-align: justify">
            кабаре в Советском государстве?! И тогда я вспомнил о «Театре». На «Театр» согласились. В этом слове было что-то от Маяковского, от его «Мистерии-театр». Но теперь-то я рад, что тогда нам не разрешили назвать себя театром-кабаре. То, что мы делаем теперь, никак не вписывается в узкие рамки кабаретного искусства».
        </p>
        <p style="font-size:20px; text-align: justify">
            Сейчас труппу театра составляют выпускники Театральной Академии разных лет, среди них: заслуженные артисты РФ Евгений Александров, Мурад Султаниязов, Михаил Трясоруков, Андрей Соловьев, Наталья Бобровничая, Сергей Магиленич, Елена Зубович, Владимир Смилянец, Ника Козоровицкая, Ольга Пикало; лауреаты российских конкурсов артистов эстрады Светлана Вильгельм-Плащевская, Владимир Сута, Анастасия Кулаева, Михаил Бондарук и другие. Многие артисты, прошедшие школу «Театра», успешно работают сегодня на большой эстраде: Геннадий Ветров, Юрий Гальцев, Елена Воробей, Елена Спиридонова, известные радиоведущие Вадим Карев, Виктор Янишевский. Заслуженный артист РФ Михаил Смирнов, выпускник мастерской Исаака Штокбанта, в 2019 году занял пост художественного руководителя театра.
        </p>
    </section>
</main>